{% extends "edit.html" %}

{% from 'macros.html' import makeTable %}
{% block child %}
<h3> child block</h3>
<div class="container">
    <form action = "{{ url_for('create',object='supply') }}" method="POST" >
    <input type="hidden" name="multipack_id" id="multipack_id" value="{{ data[0][1] }}">
    <input type="hidden" name="costper" id="costper" value = "{{ data[6][1]/data[5][1] | prettyvalue }}">
    <button type="submit" id="newsupply" value="{{ data[0][1] }}" class="btn btn-outline-primary">
        New Supply from Multipack
    </button>
    </form>
</div>
<div class="container"><h4> Supplies from this Multipack</h3></div>

{{ makeTable('supply', childfields, childdata) }}
{% endblock %}